body {
  background: #24292e;
  color: #9da5b4;
}

.reponav-item.selected{
  background-color: #24292e;
  border-color: #e36209 #181a1f transparent;
  color: #d7dae0;
}
.reponav-item .octicon{
  color: #586069;
}

.pagehead, .repohead.experiment-repo-nav{
  background: #21252b;
  border-bottom: 1px solid #181a1f;
}

.blob-code-inner {
  color: #abb2bf;
  font-family: 'firacode-retina';
  font-size: 14px;
}

.form-group .form-control{
  background-color: #1b1d23;
  border: 1px solid #181a1f;
  color: #d7dae0;
}

.form-group .form-control:focus{
  background-color: #1d1f25;
}

.form-control, .form-select{
  background-color: #1b1d23;
  border: 1px solid #181a1f;
  color: #d7dae0;
}

.range-editor{
  background-color: #2c313a;
  border: 1px solid #181a1f;
}

.compare-pr-placeholder{
  background-color: #2c313a;
  border: 1px solid #181a1f;
}

.flash{
  background-color: #1b1d23;
  color: #eee;
}

.blankslate{
  background-color: #31363f;
  border: 1px solid #181a1f;
}

.menu{
  background-color: #31363f;
  border: 1px solid #181a1f;
}

.menu-item {
  border-bottom: 1px solid #181a1f;
}

.menu-item:hover{
  background-color: #41464f;
}

.menu-item.selected{
  background-color: #24292e;
  color: #eee;
}

.boxed-group>h3, .boxed-group .heading{
  background-color: #2c313a;
  border-color: #181a1f;
}
.boxed-group-inner{
  background-color: #282c34;
  border: 1px solid #181a1f;
}

hr, .rule{
  border-bottom: 1px solid #181a1f;
}

.file {
  border: 1px solid #181a1f;
}

.file-header{
  color: #d7dae0;
  background-color: #2c313a;
  border: 1px solid #181a1f;
}

a{
  color: rgba(255,255,255,0.85);
}

.link-gray-dark{
  color: rgba(255,255,255,0.85) !important;
}
.link-gray-dark:hover{
  color: rgba(255,255,255,0.85) !important;
  text-decoration: underline;
}

.text-gray-dark {
    color: #9da5b4!important;
}

.text-emphasized{
  color: #ccc;
}

.access-form-wrapper{
  background-color: #282c34;
  border: 1px solid #181a1f;
}

.table-list-header-toggle .btn-link.selected, .table-list-header-toggle .btn-link.selected:hover{
  color: #ccc;
}

.table-list-header-toggle .btn-link:hover{
  color: #ccc;
}

.site-footer{
  border-top: 1px solid #1b1d23;
}

table.files{
  background: #333842;
}

table.files td{
  border-top: 1px solid #181a1f;
}

.file-wrap{
  border-color: #181a1f;
}

table.files tr.navigation-focus td{
  background: #434852;
}

table.files td a{
    color: #9da5b4;
}

table.files td.icon .octicon-file-directory{
  color: #9da5b4;
}

table.files td.icon{
  color: #9da5b4;  
}

.table-list{
  border-bottom: 1px solid #181a1f;
}

.table-list-header{
  background-color: #2c313a;
  border: 1px solid #181a1f;
}

.table-list-bordered .table-list-cell:last-child{
  border-right: 1px solid #181a1f;
}

.table-list-bordered .table-list-cell:first-child{
  border-left: 1px solid #181a1f;
}

.table-list-cell{
  border-top: 1px solid #181a1f;
}

.numbers-summary a, .numbers-summary .nolink{
  color: rgba(255,255,255,0.75);
}

.numbers-summary a:hover{
  color: #fff;
}

.repository-lang-stats ol.repository-lang-stats-numbers li .lang{
  color: rgba(255,255,255,0.85);
}

.repository-lang-stats ol.repository-lang-stats-numbers li>a, .repository-lang-stats ol.repository-lang-stats-numbers li>span{
  color: rgba(255,255,255,0.75);
}

.repository-lang-stats-graph{
  border: 1px solid #181a1f;
  border-top: 0;
}

.breadcrumb{
  color: rgba(255,255,255,0.75);
}

.breadcrumb strong.final-path{
  color: #fff;
}

.overall-summary{
  border: 1px solid #181a1f;
}

.octofication .message{
  border: 1px solid #181a1f;
}

.btn {
  color: rgba(255,255,255,0.75);
  background-image: linear-gradient(-180deg, #535659 0%, #424549 90%);
}

.btn:hover, .btn.hover{
  background-image: linear-gradient(-180deg, #636669 0%, #525559 90%);
  background-position: 0;
}

.btn:active, .btn.selected{
  background-color: #000;
}

.btn:disabled, .btn.disabled{
  background-color: #2c313a;
  color: rgba(255,255,255,0.75);
}

.ajax-pagination-form .ajax-pagination-btn{
  color: rgba(255,255,255,0.75);
  background-image: linear-gradient(-180deg, #535659 0%, #424549 90%);
  border: 1px solid #181a1f;
}

.subnav-search-context .btn{
  color: rgba(255,255,255,0.75);
}

.btn-link{
  color: rgba(255,255,255,0.75);
}

.social-count{
  color: rgba(255,255,255,0.75);
  background-color: #424549;
}
.social-count:hover {
  color: #fff;
}

.subnav-item{
  border: 1px solid #181a1f;
}

.subnav-item:hover, .subnav-item:focus{
  background-color: #34393e;
}

.subnav-item.selected, .subnav-item.selected:hover, .subnav-item.selected:focus{
  background-color: #4d78cc;
  border-color: #4d78cc;
}

.input-contrast {
  background-color: #424549;
  border: 1px solid #181a1f;
  color: rgba(255,255,255,0.75);
}

.input-contrast:focus{
  background-color: #525559;
}

.btn-octicon{
  color: rgba(255,255,255,0.75);
}
.btn-octicon:hover{
  color: #fff;  
}
.btn-octicon-danger:hover {
    color: #cb2431;
}

.filter-bar{
  background: #282c34;
  border-bottom: 1px solid #181a1f;
}

.more-repos{
  background: #282c34;
  box-shadow: inset 0 1px 0 #181a1f;
}

.commit-group-title .octicon-git-commit{
  background: #24292e;
}

.news .alert{
  border-top: 1px solid #181a1f;
}

.commit-tease{
  color: #d7dae0;
  background-color: #2c313a;
  border-color: #181a1f;
}

.mini-repo-list-item{
  border-top: 1px solid #181a1f;
}

.commit .commit-title, .commit .commit-title a{
  color: #BBB2A9;
}

.commits-list-item.navigation-focus{
  background: #34393e;
}

.commit-group-title{
  color: #A79F96;
}

.commit-tease-contributors{
  background-color: #333842;
  border-top: 1px solid #181a1f;
}

.muted-link{
  color: #d7dae0 !important;
}
.muted-link:hover{
  color: #fff !important;
  text-decoration: underline;
}

.commit-tease-sha{
  color: #e7eaf0;
}

.reponav-item:hover, .reponav-item:focus{
  color: rgba(255,255,255,0.75);
}

.user-mention, .team-mention{
  color: #fff;
}

.blob-num {
  color: #636d83;
}

.blob-wrapper{
  background: #282c34;
}

.pl-k {
    color: #c678dd;
}

.pl-e, .pl-en {
    color: #61afef;
}

.pl-c1, .pl-s .pl-v {
    color: #d19a66;
}

.pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra{
  color: #98c379;
}

.tabnav-tab.selected{
  background:  #3c414a;
  color: #eee;
  border-color: #181a1f;
}

.tabnav-tab:hover, .tabnav-tab:focus{
  color: #eee;
}

.CodeMirror{
  background: #282c34;
  color: #abb2bf;
}

.cm-s-github .CodeMirror-gutters{
  background: #282c34;
}

.cm-s-github .CodeMirror-lines{
  background: #282c34;
}

.Box-header--blue{
  color: #d7dae0;
  background-color: #2c313a;
  border: 1px solid #181a1f;
}

.Box {
    background-color: #31363f;
    border: 1px solid #181a1f;
}

.full-commit p.commit-title{
  color: #eee;
}

.full-commit{
  color: #d7dae0;
  background-color: #2c313a;
  border: 1px solid #181a1f;
}

.full-commit .sha-block>.sha{
  color: #eee;
}

.full-commit .commit-meta{
    background-color: #31363f;
    border: 1px solid #181a1f;
}

.copyable-terminal{
    background-color: #1b1d23;
}

.commit-author-section{
  color: #DBD6D1;
}

.cm-s-github .cm-string{
  color: #98c379
}

.blob-num-hunk, .blob-num-expandable{
    background-color: #1b1d23;
}

.blob-code-hunk, .blob-code-expandable{
    background-color: #1b1d23;
}

.blob-expanded .blob-num, .blob-expanded .blob-code{
  background-color: #3a3f46;
}

.file-diff-split .empty-cell{
  background-color: #3a3f46;
}

tr:not(.blob-expanded)+.blob-expanded .blob-num, tr:not(.blob-expanded)+.blob-expanded .blob-code {
    border-top: 1px solid #181a1f;
}
.blob-expanded+tr:not(.blob-expanded) .blob-num, .blob-expanded+tr:not(.blob-expanded) .blob-code {
    border-top: 1px solid #181a1f;
}

.blob-code-addition {
    background-color: #103605;
}
.blob-num-addition {
    background-color: #103605;
    border-color: #181a1f;
}

.blob-code-deletion {
    background-color: #540B07;
}
.blob-num-deletion {
    background-color: #540B07;
    border-color: #181a1f;
}

.file-diff-split .blob-code+.blob-num {
    border-left: 1px solid #181a1f;
}

.bottom-collapse {
    background-color: #1b1d23;
    border-top: 1px solid #181a1f;
}

.drag-and-drop{
  background-color: #1b1d23;
  border-color: #181a1f;
}

.new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav{
  background: #24292e;
}

.tabnav{
  border-bottom: 1px solid #181a1f;
}

.upload-enabled textarea{
  border-color: #181a1f;
}

.timeline-comment{
  background-color: #24292e;
  border-color: #181a1f;
}

.thread-subscription-status{
  background-color: #24292e;
  border-color: #181a1f;
}

.commit-sha{
  background-color: #1b1d23;
  border: 1px solid #181a1f;
}

.timeline-comment-wrapper{
  border-color: #181a1f;
}

.topic-tag{
  background-color: #1b1d23;
}

.readme .markdown-body, .readme .plain{
  background: #282c34;
  border: 1px solid #181a1f;
}

.markdown-body .highlight pre, .markdown-body pre{
    background-color: #1b1d23;
}

.select-menu-item{
  background-color: #1b1d23;
}

.github-toc-entry {
  color: #9da5b4 !important;
}
.select-menu-modal{
  color: #9da5b4 !important;
}
.select-menu-header .select-menu-title, .select-menu-divider{
  color: #9da5b4 !important;
}

.select-menu-text-filter:first-child:last-child{
  background-color: #2c313a;
  border-color: #181a1f;
}
.select-menu-header, .select-menu-divider{
  background-color: #2c313a;
  border-color: #181a1f;
}

.select-menu-filters{
  background-color: #2c313a;
  border-color: #181a1f;
}
.select-menu-item.selected{
  color: #ccc;
}
.select-menu-item{
  border-color: #181a1f;
}
.select-menu-tabs{
  border-color: #181a1f;
}
.select-menu-text-filter input{
  border-color: #181a1f;
}

.select-menu-tabs a.selected, .select-menu-tabs .select-menu-tab-nav.selected{
  background-color: #2c313a;
  color: #ccc;
  border-color: #181a1f;
}
.select-menu-tabs a:hover, .select-menu-tabs .select-menu-tab-nav:hover{
  color: #ccc;
}
.select-menu-modal{
  background: transparent;
}

.tree-browser td{
  background: #434852;
  border-color: #181a1f;
}
.tree-finder .tree-browser{
  border-color: #181a1f;
}
.tree-browser td:first-child,
.tree-browser td:last-child{
  border-color: #181a1f;
}
.tree-browser tr.navigation-focus td{
  background: #333842;
}

.hidden-text-expander a, .ellipsis-expander{
  background: #1b1d23;
  color: #ccc;
}
