/* # Live editor */

.CodeMirror {
  background: #282c34!important;
  color: #abb2bf!important;
}

.cm-s-github {
  .cm-string {
    color: #98c379
  }

  .CodeMirror-gutters {
    background: #282c34!important;
  }

  .CodeMirror-lines {
    background: #282c34!important;
  }
}
