/* # Code */

.blob-code-inner {
  color: @code-default-color!important;
  font-family: 'firacode-retina', 'Menlo'!important;
  font-size: 14px!important;
}

pre {
  font-family: 'firacode-retina', 'Menlo'!important;
  font-size: 14px!important;
}

.blob-num {
  color: #636d83!important;
}

.blob-wrapper {
  background: @code-bg!important;
}

.range-editor {
  background-color: @dropdown-bg!important;
  border-color: @border-color!important;
}

.pl-k {
  color: #c678dd!important;
}

.pl-e, .pl-en {
  color: #61afef!important;
}

.pl-c1, .pl-s .pl-v {
  color: #d19a66!important;
}

.pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra {
  color: #98c379!important;
}

.pl-smi, .pl-s .pl-s1 {
  color: #c55!important;
}
