/* # Misc */
body {
  .border {
    border-color: @border-color!important;
  }

  .border-gray-dark {
    border-color: @border-color!important;
  }

  .border-right,
  .border-bottom,
  .border-left {
    border-color: @border-color!important;
  }

  .bg-white {
    background-color: @bg-color!important;
  }

  .pagination a:focus,
  .pagination a:hover,
  .pagination em:focus,
  .pagination em:hover,
  .pagination span:focus,
  .pagination span:hover {
    border-color: @border-color!important;
    color: @link-color!important;
    background-image: @button-bg-image!important;
  }

  .ajax-pagination-form .ajax-pagination-btn {
    color: @link-color!important;
    background-image: @button-bg-image!important;
    border-color: @border-color!important;
  }

  .btn {
    color: @link-color!important;
    background-image: @button-bg-image!important;
  }

  .btn.hover,
  .btn:hover {
    background-image: @button-bg-image-hover!important;
    background-position: 0!important;
  }

  .btn.selected,
  .btn:active {
    background-color: #000!important;
  }

  .btn.disabled,
  .btn:disabled {
    background-color: @dropdown-bg!important;
    color: @link-color!important;
  }

  .btn-outline.disabled,
  .btn-outline:disabled {
    background-color: @dropdown-bg!important;
  }

  .gh-header-meta {
    color: @text-color!important;
  }

  .gh-header-meta .author {
    color: @text-color!important;
  }

  .ellipsis-expander,
  .hidden-text-expander a {
    background: @tag-bg-color!important;
    color: @link-color-selected!important;
  }

  .underline-nav-item.selected {
    color: @link-color-selected!important;
  }

  .underline-nav-item:focus,
  .underline-nav-item:hover {
    color: @link-color-selected!important;
  }

  .select-menu-modal {
    color: @text-color!important;
  }

  .select-menu-divider,
  .select-menu-header .select-menu-title {
    color: @text-color!important;
  }

  .select-menu-text-filter:first-child:last-child {
    background-color: @dropdown-bg!important;
    border-color: @border-color!important;
  }

  .select-menu-divider,
  .select-menu-header {
    background-color: @dropdown-bg!important;
    border-color: @border-color!important;
  }

  .select-menu-filters {
    background-color: @dropdown-bg!important;
    border-color: @border-color!important;
  }

  .select-menu-item.selected {
    color: @link-color-selected!important;
  }

  .select-menu-item {
    border-color: @border-color!important;
  }

  .select-menu-tabs {
    border-color: @border-color!important;
  }

  .select-menu-text-filter input {
    border-color: @border-color!important;
  }

  .select-menu-tabs .select-menu-tab-nav.selected,
  .select-menu-tabs a.selected {
    background-color: @dropdown-bg!important;
    color: @link-color-selected!important;
    border-color: @border-color!important;
  }

  .select-menu-tabs .select-menu-tab-nav:hover,
  .select-menu-tabs a:hover {
    color: @link-color-selected!important;
  }

  .select-menu-modal {
    background: transparent!important;
  }

  .select-menu-item {
    background-color: @tag-bg-color!important;
  }

  .dropdown-menu {
    background-color: @dropdown-bg!important;
  }

  .muted-link {
    color: @link-color!important;

    &:hover {
      color: @bright-text-color!important;
      text-decoration: underline!important;
    }
  }

  .cc-ext .pagehead-actions .cc-classic-cta a{
    &:hover, &:active {
      border-color: @border-color;
    }
  }

  .text-shadow-light{
    text-shadow: none;
  }
}
