/* # Layout */
body {
  background-color: @bg-color!important;
  color: @text-color!important;

  .reponav-item{
    color: @faded-link-color!important;

    &.selected {
      background-color: @bg-color!important;
      border-color: #e36209 @border-color transparent!important;
      color: #d7dae0!important;
    }

    .octicon {
      color: #586069!important;
    }
  }

  .pagehead,
  .repohead.experiment-repo-nav {
    background: #21252b!important;
    border-color: @border-color!important;
  }

  .site-header {
    background: #21252b!important;
    border-color: @border-color!important;
  }

  .showcase-page-pattern::after {
    background: #21252b!important;
    border-color: @border-color!important;
  }

  .form-group{
    .form-control {
      background-color: @tag-bg-color!important;
      border-color: @border-color!important;
      color: #d7dae0!important;

      &:focus {
        background-color: #1d1f25!important;
      }
    }
  }

  .form-control,
  .form-select {
    background-color: @tag-bg-color!important;
    border-color: @border-color!important;
    color: #d7dae0!important;
  }

  .flash {
    background-color: @tag-bg-color!important;
    color: #eee!important;
  }

  .blankslate {
    background-color: #31363f!important;
    border-color: @border-color!important;
  }

  .menu {
    background-color: #31363f!important;
    border-color: @border-color!important;
  }

  .menu-item {
    border-bottom: 1px solid @border-color!important;
  }

  .menu-item:hover {
    background-color: #41464f!important;
  }

  .menu-item.selected {
    background-color: @bg-color!important;
    color: #eee!important;
  }

  .boxed-group .heading,
  .boxed-group > h3 {
    background-color: #2c313a!important;
    border-color: @border-color!important;
  }

  .boxed-group-inner {
    background-color: #282c34!important;
    border-color: @border-color!important;
  }

  .rule,
  hr {
    border-bottom: 1px solid @border-color!important;
  }

  .file {
    border-color: @border-color!important;
  }

  .file-header {
    color: #d7dae0!important;
    background-color: #2c313a!important;
    border-color: @border-color!important;
  }

  a {
    color: @link-color!important;
  }

  .link-gray-dark,
  body .link-gray-dark {
    color: @link-color!important;
  }

  .link-gray-dark:hover,
  body .link-gray-dark:hover {
    color: @link-color!important;
    text-decoration: underline!important;
  }

  .text-gray-dark,
  body .text-gray-dark {
    color: @text-color!important;
  }

  .text-gray {
    color: @text-color!important;
  }

  .text-emphasized {
    color: #ccc!important;
  }

  .access-form-wrapper {
    background-color: #282c34!important;
    border-color: @border-color!important;
  }

  .table-list-header-toggle .btn-link.selected,
  .table-list-header-toggle .btn-link.selected:hover {
    color: #ccc!important;
  }

  .table-list-header-toggle .btn-link:hover {
    color: #ccc!important;
  }

  .site-footer {
    border-top: 1px solid @tag-bg-color!important;
  }

  table.files {
    background: #333842!important;
  }

  table.files td {
    border-top: 1px solid @border-color!important;
  }

  .file-wrap {
    border-color: @border-color!important;
  }

  table.files tr.navigation-focus td {
    background: #434852!important;
  }

  table.files td a {
    color: @text-color!important;
  }

  table.files td.icon .octicon-file-directory {
    color: @text-color!important;
  }

  table.files td.icon {
    color: @text-color!important;
  }

  .table-list {
    border-bottom: 1px solid @border-color!important;
  }

  .table-list-header {
    background-color: #2c313a!important;
    border-color: @border-color!important;
  }

  .table-list-bordered .table-list-cell:last-child {
    border-right: 1px solid @border-color!important;
  }

  .table-list-bordered .table-list-cell:first-child {
    border-left: 1px solid @border-color!important;
  }

  .table-list-cell {
    border-top: 1px solid @border-color!important;
  }

  .breadcrumb {
    color: @link-color!important;
  }

  .breadcrumb strong.final-path {
    color: #fff!important;
  }

  .overall-summary {
    border-color: @border-color!important;
  }

  .octofication .message {
    border-color: @border-color!important;
  }

  .subnav-search-context .btn {
    color: @link-color!important;
  }

  .btn-link {
    color: @link-color!important;
  }

  .social-count {
    color: @link-color!important;
    background-color: #424549!important;
  }

  .social-count:hover {
    color: #fff!important;
  }

  .subnav-item {
    border-color: @border-color!important;
  }

  .subnav-item:focus,
  .subnav-item:hover {
    background-color: #34393e!important;
  }

  .subnav-item.selected,
  .subnav-item.selected:focus,
  .subnav-item.selected:hover {
    background-color: #4d78cc!important;
    border-color: #4d78cc!important;
  }

  .input-contrast {
    background-color: #424549!important;
    border-color: @border-color!important;
    color: @link-color!important;
  }

  .input-contrast:focus {
    background-color: #525559!important;
  }

  .btn-octicon {
    color: @link-color!important;
  }

  .btn-octicon:hover {
    color: #fff!important;
  }

  .btn-octicon-danger:hover {
    color: #cb2431!important;
  }

  .filter-bar {
    background: #282c34!important;
    border-bottom: 1px solid @border-color!important;
  }

  .more-repos {
    background: #282c34!important;
    box-shadow: inset 0 1px 0 @border-color!important;
  }

  .commit-group-title .octicon-git-commit {
    background: @bg-color!important;
  }

  .commit-icon .octicon {
    background: @bg-color!important;
  }

  .news .alert {
    border-top: 1px solid @border-color!important;
  }

  .commit-tease {
    color: #d7dae0!important;
    background-color: #2c313a!important;
    border-color: @border-color!important;
  }

  .mini-repo-list-item {
    border-top: 1px solid @border-color!important;
  }

  .commit .commit-title,
  .commit .commit-title a {
    color: #BBB2A9!important;
  }

  .commits-list-item.navigation-focus {
    background: #34393e!important;
  }

  .commit-group-title {
    color: #A79F96!important;
  }

  .commit-tease-contributors {
    background-color: #333842!important;
    border-top: 1px solid @border-color!important;
  }

  .commit-tease-sha {
    color: #e7eaf0!important;
  }

  .reponav-item:focus,
  .reponav-item:hover {
    color: @link-color!important;
  }

  .team-mention,
  .user-mention {
    color: #fff!important;
  }

  .tabnav-tab.selected {
    background: #3c414a!important;
    color: #eee!important;
    border-color: @border-color!important;
  }

  .tabnav-tab:focus,
  .tabnav-tab:hover {
    color: #eee!important;
  }

  .tabnav-pr .tabnav-tab.selected {
    color: #eee!important;
    border-color: @border-color!important;
  }

  .tabnav-pr .tabnav-tab {
    color: #586069!important;
  }

  .Counter {
    background-color: @border-color!important;
  }

  .tabnav-pr .tabnav-tab.selected .Counter {
    color: #eee!important;
  }

  .Box-header--blue {
    color: #d7dae0!important;
    background-color: #2c313a!important;
    border-color: @border-color!important;
  }

  .Box {
    background-color: #31363f!important;
    border-color: @border-color!important;
  }

  .full-commit p.commit-title {
    color: #eee!important;
  }

  .full-commit {
    color: #d7dae0!important;
    background-color: #2c313a!important;
    border-color: @border-color!important;
  }

  .full-commit .sha-block > .sha {
    color: #eee!important;
  }

  .full-commit .commit-meta {
    background-color: #31363f!important;
    border-color: @border-color!important;
  }

  .copyable-terminal {
    background-color: @tag-bg-color!important;
  }

  .commit-author-section {
    color: #DBD6D1!important;
  }

  .blob-num-expandable,
  .blob-num-hunk {
    background-color: @tag-bg-color!important;
  }

  .blob-code-expandable,
  .blob-code-hunk {
    background-color: @tag-bg-color!important;
  }

  .timeline-commits .hidden-text-expander .ellipsis-expander {
    background-color: @tag-bg-color!important;
  }

  .tabnav {
    border-bottom: 1px solid @border-color!important;
  }
  /* # Search */
  .code-list .code-list-item+.code-list-item {
    border-color: @border-color!important;
  }

  .code-list .divider .blob-code,
  .code-list .divider .blob-num {
    background-color: #2c313a!important;
    border-color: @border-color!important;
  }

  .code-list .file-box {
    border-color: @border-color!important;
  }
  /* # Home page */
  .private .mini-repo-list-item {
    background-color: #464542!important;
  }

  /* # Settings page */
}
