/* # Profile page */
.profile-timeline.discussion-timeline .profile-timeline-month-heading::after {
  background-color: $border-color !important;
}

.profile-rollup-wrapper + .profile-rollup-wrapper {
  border-color: $border-color !important;
}

.user-profile-nav {
  background-color: $bg-color !important;
  border-color: $border-color !important;
}

.user-profile-sticky-bar::after {
  background-color: $bg-color !important;
  border-color: $border-color !important;
}
