@bg-color: #24292e;
@border-color: #181a1f;
@tag-bg-color: #1b1d23;
@text-color: #9da5b4;
@link-color: #d6d8da;
@faded-link-color: #586069;

@diff-addition: #103605;
@diff-deletion: #540B07;
@diff-addition-accent: #23691b;
@diff-deletion-accent: #9a0a00;
@diff-accent-font-color: #ccc;

@code-bg: #282c34;
@code-default-color: #abb2bf;
