$bg-color: #24292e;
$dropdown-bg: #2c313a;
$head-bg: #21252b;
$tag-bg-color: #1b1d23;
$file-row-active-bg: #434852;
$private-bg: #464542;
$comment-bg: #333842;

$border-color: #181a1f;
$light-border-color: #555;
$highlight-border-color: #e36209;

$font-size: 12px;

$text-color: #9da5b4;
$bright-text-color: #fff;
$text-green-color: #28a745;
$text-red-color: #cb2431;

$link-color: #d6d8da;
$link-color-selected: #ccc;
$faded-link-color: #586069;

$diff-addition: #103605;
$diff-deletion: #540B07;
$diff-addition-accent: #23691b;
$diff-deletion-accent: #9a0a00;
$diff-accent-font-color: #ccc;

$code-bg: #282c34;
$code-default-color: #abb2bf;
$code-snippet-color: #af6161;

$button-bg-image: linear-gradient(-180deg, #535659 0%, #424549 90%);
$button-bg-image-hover: linear-gradient(-180deg, #636669 0%, #525559 90%);
$button-active-color: #4d78cc;

$codecov-num-bg-color-missed: #ef6c6c;
$codecov-num-bg-color-hit: #4fd94f;
$codecov-num-bg-color-partial: #fef04f;
